@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
}

html,
body {
  background-color: #1D1D1D;
  font-family: poppins,sans-serif;
  height: 100%;
}

input {
  font-family: poppins,sans-serif;
  border: 0px;
}

button {
  font-family: poppins,sans-serif;
  cursor: pointer;
}

span {
  cursor: context-menu;
}

ul {
  list-style: none;
}

#index-register {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#index-register .center.xy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#index-register .center.x {
  display: flex;
  justify-content: center;
}

#index-register .center.y {
  display: flex;
  align-items: center;
}

#index-register .row {
  display: flex;
  flex-direction: row;
}

#index-register .shadow {
  box-shadow: 1px 0px 10px 5px #0000001c;
  border-radius: 10px;
}

#index-register .col-1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #171717;
  padding: 35px;
  border-radius: 10px 0px 0px 10px;
}

#index-register .col-1 .element {
  display: flex;
}

#index-register .col-1 .element.column {
  flex-direction: column;
}

#index-register .col-1 .element.row {
  flex-direction: row;
}

#index-register .col-1 .element.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#index-register .col-1 img {
  width: 111px;
  height: 42px;
}

#index-register .col-1 .online {
  display: flex;
  flex-direction: row;
  background-color: #1D1D1D;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
}

#index-register .col-1 .online .icon {
  background-image: url('/www/img/hotel.png');
  height: 21px;
  width: 17px;
  margin-right: 7px;
}

#index-register .col-1 .online .text {
  font-size: 13px;
  color: #fff;
}

#index-register .col-1 .column {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

#index-register .col-1 .column label {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
}

#index-register .col-1 .column input {
  background-color: #1d1d1d;
  border-radius: 3px;
  padding: 10px 0px 10px 10px;
  font-size: 15px;
  color: #fff;
}

#index-register .col-1 .column button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #0000;
  border-radius: 3px;
  padding: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.2s;
}

#index-register .col-1 .column button.yellow {
  flex-direction: column;
  border-color: #cab00b;
}

#index-register .col-1 .column button.yellow:active,
#index-register .col-1 .column button.yellow:hover {
  background-color: #cab00b;
}

#index-register .col-1 .column button.green {
  flex-direction: column;
  border-color: #00AF3C;
}

#index-register .col-1 .column button.green:active,
#index-register .col-1 .column button.green:hover {
  background-color: #00AF3C;
}

#index-register .col-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-image: url('/www/img/clouds.png');
  border-radius: 0px 10px 10px 0px;
  animation-name: scroll;
  animation-duration: 500s;
}

#index-register .col-2 .background {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#index-register .col-2 .background.normal {
  background-image: url('https://1.bp.blogspot.com/-DEzeXSc0Z3s/XQlVrte7L1I/AAAAAAABRuo/IQ-VLBBDGysEObrI-dKJdqiNDZZ36DkRQCKgBGAs/s1600/dMTWJwR.gif');
  background-position: -440px -25px;
  border-radius: 0px 0px 10px 0px;
}

@keyframes scroll {
	0% {
		background-position: 1000vw;
	}
	50% {
		background-position: 0vw;
	}

	to {
		background-position: -1000vw;
	}
}

#index-register footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#index-register footer .grey {
  color: #999;
}

#index-register footer .white {
  color: #fff;
  margin-left: 3px;
}

#index-register footer .normal {
  font-size: 14px;
}

#index-register footer .small {
  font-size: 12px;
}

#me {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#me header {
  display: flex;
  flex-direction: column;
  height: 220px;
  background-image: linear-gradient(180deg, #000000b3, #000000b3), url(https://2.bp.blogspot.com/-rp8WKl7qisY/Xa9MCHTTUPI/AAAAAAABXb4/uOQGo9h1B94sDK3kI_MKHWNe0H7egRRMACKgBGAsYHg/s1600/QH2F04O.png);
  background-position: right;
  background-size: cover;
  image-rendering: pixelated;
}

#me header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #ffffff17;
  padding: 15px 0px 15px 0px;
}

#me header .navbar ul {
  display: flex;
  align-items: center;
}

#me header .navbar ul img {
  width: 111px;
  height: 42px;
  margin-right: 25px;
}

#me header .navbar ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 8px;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#me header .navbar ul li.active,
#me header .navbar ul li:hover {
  background-color: #ffffff33;
  border-radius: 5px;
}

#me header .navbar ul li.sub:after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#me header .navbar ul .dropdown {
  position: relative;
  display: inline-block;
}

#me header .navbar ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff3;
  min-width: 93%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 5px;
}

#me header .navbar ul .dropdown-content a {
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

#me header .navbar ul .dropdown a:hover {
  background-color: #dddddd21;
}

#me header .navbar ul .show {
  display: block;
}

#me header .navbar .online {
  background-color: #2f2e2ecc;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

#me header .navbar .online .text {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

#me header .row {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

#me header .between {
  display: flex;
  justify-content: space-around;
}

#me header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

#me header .btn.hotel {
  background-image: linear-gradient(180deg, #00c54a 50%, #00b747 50%);
}

#me header .btn.hotel:hover {
  background-image: linear-gradient(180deg, #00b747 50%, #01a942 50%);
}

#me header .btn.hotel .icon {
  background-image: url('/www/img/hotel-me.png');
  width: 19px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

#me header .btn.hotel .text {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

#me header .hidden {
  display: flex;
  height: 100px;
  width: 450px;
  visibility: hidden;
}

#me .center.x {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px 0px;
  margin-top: 20px;
}

#me .row {
  display: flex;
  flex-direction: row;
}

#me .wrap {
  display: flex;
  flex-wrap: wrap;
}

#me .column {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

#me .col-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 435px;
  background-color: #171717;
  padding: 35px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#me .col-1 img {
  width: 64px;
  height: 110px;
}

#me .col-1 .column {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
}

#me .col-1 .column .white {
  color: #fff;
}

#me .col-1 .column .grey {
  color: #757575;
}

#me .col-1 .column .normal {
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 5px;
}

#me .col-1 .column .small {
  font-size: 13px;
  font-weight: 500;
}


#me .col-2 {
  display: flex;
  flex-direction: column;
  width: 435px;
  background-color: #171717;
  padding: 35px;
  border-radius: 5px;
}

#me .col-2 .row {
  display: flex;
  flex-direction: row;
}

#me .col-2 .wrap {
  display: flex;
  flex-wrap: wrap;
}

#me .col-2 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  transition: 0.2s;
  margin: 0px 8px 15px 8px;
  opacity: 0.7;
}

#me .col-2 .item:hover {
  background-color: #00000026;
  opacity: 1;
}

#me .col-2 .item .avatar {
  height: 40px;
  width: 45px;
  background-position: center;
  image-rendering: pixelated;
}

#me .col-2 .item .text {
  color: #fff;
  font-size: 14px;
}

#me .col-3 {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #171717;
  padding: 20px;
  border-radius: 5px;
}

#me .col-3 .column {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 15px;
  cursor: pointer;
}

#me .col-3 .background {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 130px;
  image-rendering: pixelated;
  border-radius: 10px;
  margin-bottom: 10px;
}

#me .col-3 .background .date {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #0000006e;
  color: #fff;
  cursor: pointer;
}

#me .col-3 .text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

#me .col-3 .description {
  color: #757575;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#me .news {
  display: flex;
  width: 1150px;
}

#me .news .article {
  width: 230px;
  height: 190px;
  padding: 10px;
  border-radius: 10px;
  background-position: right;
  image-rendering: pixelated;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  flex: 1 1 150px;
}

#me .news .article .flex-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

#me .news .article .title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#me .news .article .description {
  color: #757575;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#me .article {
  display: flex;
  width: 1110px;
}

#me .col-5 {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 400px;
  height: auto;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
}

#me .col-5 .title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

#me .col-5 .divider-x {
  width: 100%;
  height: 1px;
  background-color: #2f2f2f;
  margin: 10px 0px;
}

#me .col-5 .column {
  padding: 0px;
}

#me .col-5 a {
  color: #ffffffa1;
  font-size: 14px;
  margin-bottom: 8px;
  transition: 0.2s;
}

#me .col-5 a.active,
#me .col-5 a:hover {
  color: #fff;
}

#me .col-6 {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 100%;
  height: auto;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
}

#me .col-6 .title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

#me .col-6 .divider-x {
  width: 100%;
  height: 1px;
  background-color: #2f2f2f;
  margin: 10px 0px;
}

#me .col-6 p {
  color: #fff;
  font-size: 14px;
}

#me .col-6 .between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#me .col-6 .text {
  color: #fff;
  font-size: 14px;
}

#me .col-6 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

#me .col-6 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#me .col-6 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#me .col-6 .slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#me .col-6 input:checked + .slider {
  background-color: #01c64b;
}

#me .col-6 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#me .col-6 input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

#me .col-6 .slider.round {
  border-radius: 34px;
}

#me .col-6 .slider.round:before {
  border-radius: 50%;
}

#me .staffs {
  display: flex;
  width: 1050px;
}

#me .staffs .element {
  width: 100%;
  margin-bottom: 20px;
}

#me .staffs .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #171717;
  border-left: 3px solid #fff102;
  border-radius: 0px 5px 5px 0px;
  padding: 20px 0px 20px 30px;
  margin-bottom: 10px;
}

#me .staffs .header .badge {
  margin-right: 20px;
  filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px 0px 0px #fff) drop-shadow(0px -1px 0px #fff);
  -webkit-filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px 0px 0px #fff) drop-shadow(0px -1px 0px #fff);
}

#me .staffs .header .column {
  color: #757575;
}

#me .staffs .header .column .title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

#me .staffs .header .column .description {
  color: #757575;
  font-size: 13px;
}

#me .staffs .row {
  display: flex;
  flex-direction: row;
}

#me .staffs .wrap {
  display: flex;
  flex-wrap: wrap;
}

#me .staffs .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #171717;
  margin-right: 20px;
}

#me .staffs .item img {
  width: 54px;
  height: 62px;
}

#me .staffs .item .column {
  display: flex;
  flex-direction: column;
}

#me .staffs .item .column .username {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

#me .staffs .item .column .motto {
  color: #757575;
  font-size: 13px;
}

#me .staffs .item circle {
  height: 10px;
  width: 10px;
  border-radius: 100px;
}

#me .staffs .item .online {
  background-color: #6eda72;
  box-shadow: 0px 0px 7px 2px #6eda72;
}

#me .staffs .item .offline {
  background-color: #ce3327;
  box-shadow: 0px 0px 7px 2px #ce3327;
}

#me .col-4 {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  border-radius: 5px;
  padding: 15px;
  width: 350px;
  margin-right: 20px;
}

#me .col-4 .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#me .col-4 .title img {
  margin-right: 5px;
}

#me .col-4 .title span {
  color: #fff;
  font-size: 15px;
}

#me .col-4 .divider {
  height: 1px;
  width: 100%;
  background-color: #2f2f2f;
  margin: 10px 0px;
}

#me .col-4 .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1d1d1d;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#me .col-4 .item .nth {
  background-color: #181818;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

#me .col-4 .item img {
  margin-right: 0px;
}

#me .col-4 .item .column {
  padding: 0px;
}

#me .col-4 .item .username {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

#me .col-4 .item .amount {
  font-size: 13px;
}

#me .col-4 .item .amount.credits {
  color: #f6f605;
  font-size: 13px;
}

#me .col-4 .item .amount.duckets {
  color: #e38eda;
  font-size: 13px;
}

#me .col-4 .item .amount.diamonds {
  color: #c2f3f5;
  font-size: 13px;
}

#me .col-4 .item .type {
  color: #757575;
  font-size: 13px;
}

#me .vip {
  display: flex;
  width: 1110px;
}

#me .col-7 {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 100%;
  height: auto;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
}

#me .col-7 .background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 130px;
  image-rendering: pixelated;
  border-radius: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(180deg, #0000008c, #000), url(https://2.bp.blogspot.com/-qgAYZ5qNQT8/XIrXvKAEpgI/AAAAAAABMmM/fMtjDyZQXpcWTrAKFJtIdKgjBv8TPpF-ACKgBGAs/s1600/art_hc_vip.gif);
}

#me .col-7 .background .title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

#me .col-7 p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 5px;
}

#me .col-7 p.title {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

#me .col-7 ul {
  list-style-type: disclosure-closed;
  margin-left: 20px;
}

#me .col-7 li {
  color: #fff;
  font-size: 14px;
}

#me .col-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #00000096, #00000096), url(https://3.bp.blogspot.com/-hznz7k27cJs/Vw15dTQBjaI/AAAAAAAAmvA/LVUlIwfiFTEb-X7aesg7xbtZTX-2A8TlQ/s1600/ts_newVIP.gif);
  width: 454px;
  height: 187px;
  margin-right: 20px;
  border-radius: 5px;
  background-repeat: no-repeat;
}

#me .col-8 .buy {
  background-color: #00AF3C;
  border-radius: 100px;
  color: #fff;
  padding: 8px;
  text-align: center;
  width: 80%;
  transition: 0.2s;
}

#me .col-8 .buy:active,
#me .col-8 .buy:hover {
  transform: scale(1.1);
}

#me .settings {
  display: flex;
  width: 1100px;
}

#me .col-9 {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 600px;
  height: 300px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
}

#me .col-9 .list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#me .col-9 .list a {
  border-bottom: 2px solid #282828;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  font-size: 17px;
}

#me .col-9 .list a.active {
  border-bottom: 2px solid #FFE602;
}

#me .col-9 .column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px;
}

#me .col-9 .column label {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
}

#me .col-9 .column input {
  background-color: #1d1d1d;
  border-radius: 3px;
  padding: 10px 0px 10px 10px;
  font-size: 15px;
  color: #fff;
}

#me .col-9 .column button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #0000;
  border-radius: 3px;
  padding: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.2s;
}

#me .col-9 .column button.green {
  flex-direction: column;
  border-color: #00AF3C;
}

#me .col-9 .column button.green:active,
#me .col-9 .column button.green:hover {
  background-color: #00AF3C;
}

#me footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  background-color: #121212;
  padding: 10px 0px;
}

#me footer .grey {
  color: #999;
}

#me footer .white {
  color: #fff;
  font-weight: 500;
  margin-left: 3px;
}

#me footer .normal {
  font-size: 13px;
}

#me footer .small {
  font-size: 12px;
}

#maintenance {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#maintenance header {
  display: flex;
  flex-direction: column;
  background-position: right;
  background-size: cover;
  image-rendering: pixelated;
  margin-bottom: 20px;
}

#maintenance header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px 15px 0px;
}

#maintenance header .navbar ul {
  display: flex;
  align-items: center;
}

#maintenance header .navbar ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 8px;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#maintenance header .navbar ul li.active {
  background-color: #ffffff33;
  border-radius: 5px;
}

#maintenance header .navbar ul img {
  width: 111px;
  height: 42px;
  margin-right: 25px;
}

#maintenance .center.x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#maintenance .column {
  display: flex;
  flex-direction: column;
}

#maintenance .maintenance {
  display: flex;
  width: 900px;
}


#maintenance .column .title {
  display: flex;
  flex-direction: column;
}

#maintenance .column .title .white {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}

#maintenance .column .title .colorful {
  color: #fff102;
  font-size: 60px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}

#maintenance .column p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
}

#maintenance .column .discord {
  display: flex;
  justify-content: center;
  background-color: #5865f2;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
  width: 200px;
  padding: 10px 20px;
  transition: 0.2s;
}

#maintenance .column .discord:hover {
  transform: scale(1.1);
}

#maintenance footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#maintenance footer .grey {
  color: #999;
}

#maintenance footer .white {
  color: #fff;
  margin-left: 3px;
}

#maintenance footer .normal {
  font-size: 14px;
}

#maintenance footer .small {
  font-size: 12px;
}